body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.header-links, .summary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 300px;
    padding: 25px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    max-height: 300px;
    min-width: 100px;
}

.hero-title, .summary {
    margin: 0;
}

.hero-image {
    width: 550px;
    height: 275px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 16px;
    border-radius: 6px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-bottom: 0;
}

.information {
    padding: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-image {
    height: auto;
    width: 160px;
}

img {
    border-radius: 6px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 5px;
}

#quote-source {
    font-size: 24px;
    font-weight: 800;
    align-self: flex-end;
    margin-top: 5px;
}

.signup-section {
    padding: 75px 200px;
}

.signup-section p {
    margin: 0;
    color: white;
}

.signup-section button {
    border-style: solid;
    border-color: white;
}

.signup-subsection {
    background-color: #3882F6;
    padding: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
}

.call-text {
    font-weight: 800;
}

.signup-text {
    font-weight: 100;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 40px 0px;
}