body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.header-links, .summary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    padding: 25px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 400px;
}

.hero-title, .summary {
    margin: 0;
}

.hero-image {
    height: 250px;
    width: auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 16px;
    border-radius: 6px;
}